Patient0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/Patient0"
	xmlns:tns="http://www.example.org/Patient0" elementFormDefault="qualified">

	<element name="patient" type="tns:Patient" />
	<complexType name="Patient">
		<sequence>
			<element name="id" type="int" />


		</sequence>

	</complexType>

</schema>